# Windows Batch & PowerShell scripts MUST ALWAYS use CRLF line endings.
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

# Source files
*.rs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf

# Binaries
*.dll binary
*.exe binary
*.lib binary
*.ico binary
*.png binary
